---
layout: default
ordre: 2
titre: La Carte
image: https://c1.staticflickr.com/5/4120/4927236511_717818926c_b.jpg
icone: list-alt
---

{% for carte in site.data.cartes %}
<div class="carte">
<h1>{{carte[0]}}</h1>
	{% for plat in carte[1] %}
	<div class="plat" style="background-image:url({{plat[1].photo}})">
		<span class="prix">{{plat[1].prix}}</span>
		<div class="nom">{{plat[0]}}</div>
		<!--div class="info">{{plat[1].info}}</div-->
	</div>
	{% endfor %}
</div>
{% endfor %}
